<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <unit3>
            <settings>
                <username>usman.ali</username>
                <password>Admin@123</password>
                <environment_type>staging</environment_type>
            </settings>
        </unit3>
    </default>
</config>
